/* ========================================
  Mobile: 0px - 479.98px
======================================== */
@media screen and (max-width: 479.98px) {
}

/* ========================================
  Small Tablet: 480px - 767.98px
======================================== */
@media screen and (min-width: 480px) and (max-width: 767.98px) {
}

/* ========================================
  Tablet: 768px - 1023.98px
======================================== */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
}

/* ========================================
  Desktop: >= 1024px
======================================== */
@media screen and (min-width: 1024px) {
}
