# ===============================
# JWT
# ===============================
jwt.secret=YOUR_SECRET_KEY_HERE

# ===============================
# FRONTEND URL
# ===============================
frontend.url=YOUR_FRONTEND_URL_HERE

# ===============================
# DATABASE
# ===============================
spring.datasource.url=YOUR_DB_CONNECTION_HERE
spring.datasource.username=YOUR_DB_USERNAME_HERE
spring.datasource.password=YOUR_DB_PASSWORD_HERE