/* ========================================
  Form Section
======================================== */
.brand-form-page .brand-form-section .brand-form-container .brand-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-sm);
}

/* Form */
.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form {
  width: 100%;
  background: var(--clr-bg);
  border: 1.5px solid var(--clr-body-border);
  border-radius: var(--radius-md);
  padding: var(--space-md) var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields {
  width: 100%;
  min-height: 56dvh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

/* Form fields */
.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  text-align: left;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-label {
  width: 25%;
  font-size: var(--text-sm);
  font-weight: 600;
  color: var(--clr-body-text);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-label
  .required {
  color: var(--clr-danger);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .logo-input-group {
  padding: var(--space-sm);
  border: 1.5px solid var(--clr-body-border);
  border-radius: var(--radius-sm);
  font-size: var(--text-sm);
  transition: border-color 0.2s ease;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-input,
.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-textarea {
  padding: var(--space-xs) var(--space-sm);
  border: 1.5px solid var(--clr-body-border);
  border-radius: var(--radius-sm);
  font-size: var(--text-sm);
  transition: border-color 0.2s ease;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-input:focus,
.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-textarea:focus {
  outline: none;
  border-color: var(--clr-body-accent);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-input-error {
  border-color: var(--clr-danger);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-error {
  font-size: var(--text-xs);
  color: var(--clr-danger);
  font-weight: 500;
  padding-top: var(--space-xs);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-textarea {
  resize: vertical;
  min-height: 6rem;
}

/* File image */
.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .choose-file-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--text-sm);
  border: 1.5px solid var(--clr-body-border);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .choose-file-group
  .custom-file-btn {
  padding: var(--space-xs);
  background: var(--clr-body-accent);
  color: var(--clr-bg);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .choose-file-group
  .custom-file-btn:hover {
  background: #1548d5;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .file-name {
  flex: 1;
  overflow-wrap: break-word;
  font-size: var(--text-xs);
  font-weight: 600;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-file {
  display: none;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .file-types {
  border: 1.5px solid var(--clr-body-border);
  border-top: 0;
  padding: 0 var(--space-xs);
  font-size: var(--text-xs);
  color: var(--clr-text-muted);
}

.spacer {
  padding-block: var(--space-xs);
}

/* Preview */
.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-preview {
  width: 10rem;
  height: 10rem;
  border: 1.5px solid var(--clr-body-border);
  border-radius: var(--radius-sm);
  margin-top: var(--space-xs);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-preview
  .field-preview-remove {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background: (--clr-body-border);
  color: var(--clr-body-text);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: var(--text-sm);
  font-weight: 700;
  transition: background 0.2s ease;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-preview
  .field-preview-remove:hover {
  background: rgba(220, 38, 38, 0.9);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-preview
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-fields
  .field
  .field-input-group
  .field-preview
  .thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--clr-no-image-bg);
  background-size: 200% 100%;
  animation: loading 1.2s infinite;
}

/* Form divider */
.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-divider {
  background-color: var(--clr-not-found);
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: var(--space-md);
}

/* Form actions */
.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-actions {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: var(--space-sm);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-actions
  .btn {
  padding: var(--space-xs) var(--space-lg);
  border: none;
  border-radius: var(--radius-sm);
  font-size: var(--text-sm);
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-actions
  .btn-primary {
  background: var(--clr-body-accent);
  color: var(--clr-header-footer-text);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-actions
  .btn-primary:hover {
  filter: brightness(1.4);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-actions
  .btn-secondary {
  background: transparent;
  color: var(--clr-body-text);
  border: 1.5px solid var(--clr-body-border);
}

.brand-form-page
  .brand-form-section
  .brand-form-container
  .brand-form-wrapper
  .form
  .form-actions
  .btn-secondary:hover {
  background: rgba(168, 168, 168, 0.8);
  filter: brightness(1.2);
}

/* ========================================
    Mobile: 0px - 479.98px
  ======================================== */
@media screen and (max-width: 479.98px) {
  .brand-form-page
    .brand-form-section
    .brand-form-container
    .brand-form-wrapper
    .form
    .form-fields {
    max-height: 63dvh;
    gap: var(--space-xl);
  }

  .brand-form-page
    .brand-form-section
    .brand-form-container
    .brand-form-wrapper
    .form
    .form-fields
    .field {
    flex-direction: column;
  }

  .brand-form-page
    .brand-form-section
    .brand-form-container
    .brand-form-wrapper
    .form
    .form-fields
    .field
    .field-label {
    width: 100%;
  }
}

/* ========================================
    Small Tablet: 480px - 767.98px
  ======================================== */
@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .brand-form-page
    .brand-form-section
    .brand-form-container
    .brand-form-wrapper
    .form
    .form-fields {
    max-height: 64dvh;
  }

  .brand-form-page
    .brand-form-section
    .brand-form-container
    .brand-form-wrapper
    .form
    .form-fields
    .field {
    flex-direction: column;
  }

  .brand-form-page
    .brand-form-section
    .brand-form-container
    .brand-form-wrapper
    .form
    .form-fields
    .field
    .field-label {
    width: 100%;
  }
}

/* ========================================
    Tablet: 768px - 1023.98px
  ======================================== */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .brand-form-page
    .brand-form-section
    .brand-form-container
    .brand-form-wrapper
    .form
    .form-fields {
    max-height: 65dvh;
    gap: var(--space-xl);
  }
}

/* ========================================
    Desktop: >= 1024px
  ======================================== */
@media screen and (min-width: 1024px) {
}
